<h1>{{ title }}</h1>

<form action="/test/submit" method="post">
    <input type="number" name="lat">  lat1  <br>
	<input type="number" name="lon"> lon1 <br>
		<input type="number" name="lat2"> lat 2<br>
	<input type="number" name="lon2"> lon2 <br>

    <button type="submit">Submit</button>
</form>